.button {
	$self: &;
	@extend %reset-button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	color: $blackColor;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.05em;
	transition: background-color 0.3s, color 0.3s;
	padding: 0 24px;
	background: rgba(255, 255, 255, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.51);
	border-radius: 8px;

	&:hover {
		background: rgba(255, 255, 255, 0.33);
		border: 1px solid rgba(255, 255, 255, 0.51);
	}

	&:focus,
	&:active {
		background: rgba(255, 255, 255, 0.4);
		border: 1px solid rgba(255, 255, 255, 0.51);
		outline: none;
	}


	&--primary {
		color: $blackColor;
		background: $primaryColor;
		border: 1px solid $primaryColor;

		&:hover {
			background: #F5BE2F;
			border: #F5BE2F;
			color: $blackColor;
		}

		&:focus,
		&:active {
			background: #F5B81B;
			border: #F5B81B;
			outline: none;
		}
	}

	&--block {
		display: flex;
		width: 100%;
	}

	@include media('<sm') {
		&--block-xs {
			display: flex;
			width: 100%;
		}
	}
	@include media('<lg') {
		&--block-sm {
			display: flex;
			width: 100%;
		}
	}
}
.buy-button {
	$self: &;
	@extend %reset-button;

	height: 40px;
	width: 40px;
	background-color: #FFC635;
	border-radius: 8px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6466 8.91586H18.4196L15.1941 2.47748C15.0911 2.27221 14.9107 2.11628 14.6927 2.044C14.4746 1.97172 14.2368 1.98901 14.0315 2.09207C13.8263 2.19512 13.6703 2.3755 13.5981 2.59353C13.5258 2.81155 13.5431 3.04936 13.6461 3.25464L16.4894 8.94113H8.02914L10.8724 3.25464C10.9754 3.04936 10.9927 2.81155 10.9205 2.59353C10.8482 2.3755 10.6922 2.19512 10.487 2.09207C10.2817 1.98901 10.0439 1.97172 9.82586 2.044C9.60783 2.11628 9.42745 2.27221 9.3244 2.47748L6.09257 8.91586H1.86561C1.75194 8.91586 1.63938 8.93825 1.53436 8.98175C1.42934 9.02525 1.33391 9.08901 1.25353 9.16939C1.17315 9.24977 1.10939 9.34519 1.06589 9.45021C1.02239 9.55524 1 9.6678 1 9.78147V13.2565C1 13.3702 1.02239 13.4828 1.06589 13.5878C1.10939 13.6928 1.17315 13.7882 1.25353 13.8686C1.33391 13.949 1.42934 14.0128 1.53436 14.0563C1.63938 14.0998 1.75194 14.1222 1.86561 14.1222H2.49744L4.49719 22.1275C4.54437 22.3145 4.65267 22.4805 4.80492 22.5989C4.95716 22.7174 5.14462 22.7816 5.33753 22.7814H19.1841C19.3771 22.7816 19.5645 22.7174 19.7168 22.5989C19.869 22.4805 19.9773 22.3145 20.0245 22.1275L22.0242 14.1222H22.6561C22.8856 14.1222 23.1058 14.031 23.2681 13.8686C23.4305 13.7063 23.5217 13.4861 23.5217 13.2565V9.78147C23.5217 9.66699 23.499 9.55365 23.4549 9.44801C23.4108 9.34237 23.3462 9.24652 23.2648 9.16601C23.1834 9.08551 23.0869 9.02195 22.9808 8.97901C22.8746 8.93607 22.7611 8.9146 22.6466 8.91586ZM2.74386 10.6471H21.7936V12.3909H2.73122L2.74386 10.6471ZM18.5081 21.0502H6.00411L4.27289 14.1222H20.2393L18.5081 21.0502Z' fill='%23263238'/%3E%3Cpath d='M12.2562 20.1846C12.4858 20.1846 12.706 20.0934 12.8683 19.9311C13.0306 19.7687 13.1218 19.5486 13.1218 19.319V15.866C13.1218 15.6365 13.0306 15.4163 12.8683 15.254C12.706 15.0916 12.4858 15.0004 12.2562 15.0004C12.0267 15.0004 11.8065 15.0916 11.6442 15.254C11.4818 15.4163 11.3906 15.6365 11.3906 15.866V19.3411C11.3964 19.5668 11.4901 19.7814 11.6518 19.939C11.8136 20.0965 12.0304 20.1847 12.2562 20.1846Z' fill='%23263238'/%3E%3Cpath d='M15.5122 20.1594C15.5817 20.1755 15.6526 20.184 15.7239 20.1846C15.9167 20.184 16.1038 20.119 16.2554 19.9999C16.4071 19.8809 16.5146 19.7146 16.5611 19.5275L17.4267 16.0524C17.4604 15.9403 17.471 15.8225 17.4579 15.7062C17.4448 15.5899 17.4082 15.4774 17.3504 15.3756C17.2926 15.2738 17.2147 15.1848 17.1215 15.114C17.0282 15.0431 16.9216 14.9919 16.8081 14.9635C16.6945 14.9351 16.5763 14.9299 16.4607 14.9485C16.3451 14.967 16.2345 15.0088 16.1355 15.0713C16.0365 15.1338 15.9513 15.2158 15.8849 15.3122C15.8184 15.4086 15.7723 15.5175 15.7492 15.6323L14.8804 19.1074C14.8258 19.3306 14.8616 19.5663 14.9799 19.7633C15.0982 19.9603 15.2895 20.1026 15.5122 20.1594Z' fill='%23263238'/%3E%3Cpath d='M7.95289 19.5278C7.99892 19.7133 8.10509 19.8784 8.25482 19.9973C8.40455 20.1162 8.58943 20.1821 8.78059 20.1849C8.85186 20.1842 8.92284 20.1758 8.99225 20.1596C9.21495 20.1029 9.40625 19.9606 9.52457 19.7636C9.64289 19.5666 9.67865 19.3308 9.62408 19.1076L8.78059 15.6452C8.75747 15.5304 8.71132 15.4215 8.64491 15.3251C8.57851 15.2287 8.49323 15.1467 8.39425 15.0842C8.29526 15.0217 8.18462 14.9799 8.06903 14.9614C7.95343 14.9428 7.83527 14.9479 7.7217 14.9764C7.60814 15.0048 7.50152 15.056 7.4083 15.1268C7.31509 15.1977 7.23721 15.2867 7.17938 15.3885C7.12155 15.4903 7.08497 15.6027 7.07186 15.7191C7.05874 15.8354 7.06936 15.9532 7.10307 16.0653L7.95289 19.5278Z' fill='%23263238'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		background-color: #F5BE2F;

	}
	&:active {
		background-color: #F5B81B;
	}
}
